body{
    font-family: 'Open Sans', sans-serif;
}

/* Home */

/* @media (min-width:300px){
    #Home{
        background-image:url("photo/for_mobile.jpg");
        background-size: contain;
        background-repeat:no-repeat;
    }
} Currently NOT WORKING*/

#Home{
    background-image:url("photo/background.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    padding: 2%;
}

#head{
    display:block;
    padding-bottom:3% ;
}

.nav-item{
    text-decoration:solid;
    font-weight: 700;
}
.school_name{
    font-family: 'Bree Serif', serif;
}

#school_logo{
    width: 10%;
    float: left;
    padding: 0;
}

.classes{
    list-style:none;
}

#nav_bar{
     font-family: 'Open Sans', sans-serif;
}

#principal img{
    width:8rem;

}
.content{
    text-align: center;
    box-align: center;
    padding: 2%;
}
#principal{
    background-color:#ffd7ba ;
    display: inline-block;
    border-radius: 6%;
    padding: 2%;
    border: 0ch;
}
#director img{
    width:8rem;
}

#topper{
    padding-top: 3%;
}

#topper img{
    width:6rem;
}

/* Gallery */

#Gallery{
    background-image: url("photo/second_page.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    padding: 2%;
    /* width: 1; */
    /* display: block; */
}

#Gallery_div{
    background-color:#a7ff74;
    padding-left: 6%;
}

.Gallery_img{
    width: 30%;
    padding: 1%;
    /* margin: 2%; */
}